[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cfn-lint = "~=0.48.3"
aws-sam-cli = "~=1.22.0"

[requires]
python_version = "3.9"


[scripts]
audit = "pipenv check"
samvalidate = "pipenv run sam validate --template template.yaml"
lint_cfn    = "pipenv run cfn-lint --ignore-checks W3011 -t template.yaml"
